In [4]:
df1 = sns.load_dataset('iris')

In [5]:
Iris_df=df1.to_json(orient='records')

In [6]:
df_new = eval(Iris_df)

In [7]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\mitta\onedrive\documents\lib\site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\mitta\onedrive\documents\lib\site-packages (from pymongo) (2.2.1)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pymongo

In [9]:

client = pymongo.MongoClient("mongodb+srv://aakash:1234@cluster0.53aocmj.mongodb.net/?retryWrites=true&w=majority")
db = client["Household_Dataset"]
a = db["Ineuron_table"]
a.insert_many(df_new)

In [5]:
print(db)

Database(MongoClient(host=['ac-rlvucip-shard-00-01.53aocmj.mongodb.net:27017', 'ac-rlvucip-shard-00-02.53aocmj.mongodb.net:27017', 'ac-rlvucip-shard-00-00.53aocmj.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-sy0dre-shard-0', tls=True), 'test')

In [44]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

In [45]:
df = pd .read_csv("household Cleanned dataset.csv")
df.head()

,Unnamed: 0,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,Date_&_Time
0,0,4.216,0.418,234.84,18.4,0.0,0.0,17.0,"16/12/2006, 17:24:00"
1,1,5.360,0.436,233.63,23.0,0.0,0.0,16.0,"16/12/2006, 17:25:00"
2,2,5.374,0.498,233.29,23.0,0.0,0.0,17.0,"16/12/2006, 17:26:00"
3,3,5.388,0.502,233.74,23.0,0.0,0.0,17.0,"16/12/2006, 17:27:00"
4,4,3.666,0.528,235.68,15.8,0.0,0.0,17.0,"16/12/2006, 17:28:00"

# Merge Sub_metering 1,2 & 3 to make it as a Target Column

In [46]:
df["Sub_metering"] = df["Sub_metering_1"] + df["Sub_metering_2"] + df["Sub_metering_3"]

In [47]:
df.head()

,Unnamed: 0,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,Date_&_Time,Sub_metering
0,0,4.216,0.418,234.84,18.4,0.0,0.0,17.0,"16/12/2006, 17:24:00",17.0
1,1,5.360,0.436,233.63,23.0,0.0,0.0,16.0,"16/12/2006, 17:25:00",16.0
2,2,5.374,0.498,233.29,23.0,0.0,0.0,17.0,"16/12/2006, 17:26:00",17.0
3,3,5.388,0.502,233.74,23.0,0.0,0.0,17.0,"16/12/2006, 17:27:00",17.0
4,4,3.666,0.528,235.68,15.8,0.0,0.0,17.0,"16/12/2006, 17:28:00",17.0

**Drop Sub_metering 1,2 & 3**

In [48]:
df.drop(['Sub_metering_1','Sub_metering_2','Sub_metering_3'], axis=1, inplace=True)

In [49]:
df.head()

,Unnamed: 0,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Date_&_Time,Sub_metering
0,0,4.216,0.418,234.84,18.4,"16/12/2006, 17:24:00",17.0
1,1,5.360,0.436,233.63,23.0,"16/12/2006, 17:25:00",16.0
2,2,5.374,0.498,233.29,23.0,"16/12/2006, 17:26:00",17.0
3,3,5.388,0.502,233.74,23.0,"16/12/2006, 17:27:00",17.0
4,4,3.666,0.528,235.68,15.8,"16/12/2006, 17:28:00",17.0

In [50]:
del df['Unnamed: 0']

In [51]:
df.head()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Date_&_Time,Sub_metering
0,4.216,0.418,234.84,18.4,"16/12/2006, 17:24:00",17.0
1,5.360,0.436,233.63,23.0,"16/12/2006, 17:25:00",16.0
2,5.374,0.498,233.29,23.0,"16/12/2006, 17:26:00",17.0
3,5.388,0.502,233.74,23.0,"16/12/2006, 17:27:00",17.0
4,3.666,0.528,235.68,15.8,"16/12/2006, 17:28:00",17.0

**Dependent and Independent feature**

In [42]:
x = df.drop(['Sub_metering','Date_&_Time'], axis=1)
y = df['Sub_metering']

# <font color=#FF0000>**Storing Cleanned Dataset:**</font>

# 1 <font color=blue>*Inside MongoDb*</font>

In [58]:
df_json = df.to_json(orient='records')

In [ ]:
data = eval(df_json)

In [57]:
client = pymongo.MongoClient("mongodb+srv://aakash:1234@cluster0.53aocmj.mongodb.net/?retryWrites=true&w=majority")
db = client["Household_Dataset"]
a = db["Ineuron_table"]
a.insert_many(df_json)

TypeError: document must be an instance of dict, bson.son.SON, bson.raw_bson.RawBSONDocument, or a type that inherits from collections.MutableMapping

**Storing Cleanned Dataset with the help of Pickle**

In [ ]:
## saving cleanned dataset or pickling our updated dataset
import pickle
with open( 'Household D_cleanned data.csv', 'wb') as f:
    pickle.dump( df,f)

# Split data into Train and Test data

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=12)

In [ ]:
x_train.shape, y_train.shape

In [ ]:
x_test.shape, y_test.shape

# Feature Scaling or standardize the datase

In [ ]:
#Standardize or Feature Scaling the dataset
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler()
scaler

In [ ]:
x_train_tf = scaler.fit_transform(x_train)
x_train_tf

In [ ]:
x_test_tf = scaler.transform(x_test)
x_test_tf

# <font color=#FF0000>**Model Training**</font>

# 1) Linear Regression Model

In [ ]:
from sklearn.linear_model import LinearRegression
regression = LinearRegression()
regression

In [ ]:
regression.fit(x_train,y_train)

In [ ]:
#print the coefficients
regression.coef_

In [ ]:
#print the intercepts
regression.intercept_

**Prediction for the Test Data**

In [ ]:
#prediction

import warnings
warnings.filterwarnings("ignore")

reg_pred = regression.predict(x_test)
reg_pred

# <font color=blue>*Assumptions of linear Reggression*</font>

**To check whether the model is good or bad that is trainned.**

**1) Relation b/w Truth Point(y_test) and Predicted point**

In [ ]:
plt.scatter(y_test,reg_pred);
plt.xlabel('Test Truth Data')
plt.ylabel('Test Predicted Data')

**Observation -**   If model gives linear realation means model is good

**2) Residuals : Difference b/w Truth value(y_test) and Predicted value(reg_pred)**
- Aim is to calculate the error

In [ ]:
residuals = y_test-reg_pred
residuals

In [ ]:
#displot for above errors
sns.displot(residuals, kind='kde');

**Observation-**
- Does not gives Gaussian Distribution
- Skewed towards right due to outliers

**3) Scater Plot of Prediction and residuals**
- should gives uniform distribution
- follow 'Homoscedasticity', or homogeneity of variances, is an assumption of equal or similar variances in different groups being compared.

In [ ]:
plt.scatter(reg_pred,residuals);

**4) Performance Metrices for Regression**

In [ ]:
#MSE, MAE, RMSE, R Squared and Adjusted R square

from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
print(mean_squared_error(reg_pred,y_test))
print(mean_absolute_error(reg_pred,y_test))
print(np.sqrt(mean_squared_error(reg_pred,y_test)))

In [ ]:
from sklearn.metrics import r2_score
score = r2_score(y_test,reg_pred)
print(score)

In [ ]:
# Adjusted R2
#display adjusted R-squared

1 - (1-score)*(len(y_test)-1)/(len(y_test)-x_test.shape[1]-1)

# 2.Ridge Regression Model

In [ ]:
from sklearn.linear_model import Ridge
ridge = Ridge()
ridge

In [ ]:
ridge = Ridge()

In [ ]:
ridge.fit(x_train ,y_train)

In [ ]:
ridge_pred = ridge.predict(x_test)
ridge_pred

**Print Coefficients and Intercept**

In [ ]:
#print the coefficients
print(ridge.coef_)

In [ ]:
ridge.intercept_

# <font color=blue>*Assumptions of Ridge Reggression*</font>

**1) Relation b/w Truth Point(y_test) and Predicted point**

In [ ]:
plt.scatter(y_test,ridge_pred);
plt.xlabel('Test Truth Data')
plt.ylabel('Test Predicted Data')

**2) Residuals : Difference b/w Truth value(y_test) and Predicted value(reg_pred)**
- Aim is to calculate the error

In [ ]:
residuals = y_test-reg_pred
residuals

In [ ]:
#displot for above errors
sns.displot(residuals, kind='kde');

**Observation-**
- skewed towards right due to outliers

**3) Scater Plot of Prediction and residuals**
- should gives uniform distribution
- follow 'Homoscedasticity', or homogeneity of variances, is an assumption of equal or similar variances in different groups being compared.

In [ ]:
plt.scatter(reg_pred,residuals);

**4) Performance Metrices for Regression**

In [ ]:
#MSE, MAE, RMSE, R Squared and Adjusted R square

from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
print(mean_squared_error(reg_pred,y_test))
print(mean_absolute_error(reg_pred,y_test))
print(np.sqrt(mean_squared_error(reg_pred,y_test)))

In [ ]:
from sklearn.metrics import r2_score
score = r2_score(y_test,ridge_pred)
print(score)

In [ ]:
# Adjusted R2
#display adjusted R-squared

1 - (1-score)*(len(y_test)-1)/(len(y_test)-x_test.shape[1]-1)

# 3) Lasso Regression Model

In [ ]:
from sklearn.linear_model import Lasso
lasso = Lasso()
lasso

In [ ]:
lasso.fit(x_train,y_train)

**Print Coefficients and Intercept**

In [ ]:
#print the coefficients
print(lasso.coef_)

In [ ]:
lasso.intercept_

In [ ]:
lasso_pred = lasso.predict(x_test)
lasso_pred

# <font color=blue>*Assumptions of Lasso Reggression*</font>

**1) Relation b/w Truth Point(y_test) and Predicted point**

In [ ]:
plt.scatter(y_test,reg_pred);
plt.xlabel('Test Truth Data')
plt.ylabel('Test Predicted Data')

**2) Residuals**

In [ ]:
residuals = y_test-lasso_pred
residuals

In [ ]:
#displot for above errors
sns.displot(residuals, kind='kde');

**Scater Plot of Prediction and residuals**

In [ ]:
plt.scatter(lasso_pred,residuals);

**4) Performance Metrices**

In [ ]:
#MSE, MAE, RMSE, R Squared and Adjusted R square

from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
print(mean_squared_error(lasso_pred,y_test))
print(mean_absolute_error(lasso_pred,y_test))
print(np.sqrt(mean_squared_error(lasso_pred,y_test)))

In [ ]:
from sklearn.metrics import r2_score
score = r2_score(y_test,lasso_pred)
print(score)

In [ ]:
# Adjusted R2
#display adjusted R-squared

1 - (1-score)*(len(y_test)-1)/(len(y_test)-x_test.shape[1]-1)

# 4) Elastic Regression Mode

In [ ]:
from sklearn.linear_model import ElasticNet
elastic = ElasticNet()
elastic

In [ ]:
elastic.fit(x_train,y_train)

**Print Coefficients and Intercept**

In [ ]:
#print the coefficients
print(elastic.coef_)

In [ ]:
elastic.intercept_

In [ ]:
elastic_pred = elastic.predict(x_test)
elastic_pred

# <font color=blue>*Assumptions of Elastic Net Reggression*</font>

**1) Relation b/w Truth Point(y_test) and Predicted point**

In [ ]:
plt.scatter(y_test,reg_pred);
plt.xlabel('Test Truth Data')
plt.ylabel('Test Predicted Data')

**2) Residuals**

In [ ]:
residuals = y_test-elastic_pred
residuals

In [ ]:
#displot for above errors
sns.displot(residuals, kind='kde');

**Scater Plot of Prediction and residuals**

In [ ]:
plt.scatter(elastic_pred,residuals);

**4) Performance Metrices**

In [ ]:
#MSE, MAE, RMSE, R Squared and Adjusted R square

from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
print(mean_squared_error(elastic_pred,y_test))
print(mean_absolute_error(elastic_pred,y_test))
print(np.sqrt(mean_squared_error(elastic_pred,y_test)))

In [ ]:
from sklearn.metrics import r2_score
score = r2_score(y_test,elastic_pred)
print(score)

In [ ]:
# Adjusted R2
#display adjusted R-squared

1 - (1-score)*(len(y_test)-1)/(len(y_test)-x_test.shape[1]-1)

# 5) SVR Model

In [ ]:
from sklearn import svm
from sklearn.svm import SVR

In [ ]:
Model = SVR()
Model

In [ ]:
Model.fit(x_train, y_train)

In [ ]:
Model.score(x_train_tf, y_train)
#training accuracy